@model CP.AnnualReviews.Models.TblAnnualReviewAdditionalToolsoftheTradeResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblAnnualReviewAdditionalToolsoftheTradeResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualReviewId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnualReviewId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalTooloftheTrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalTooloftheTrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolsoftheTradeRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolsoftheTradeRating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
