@model CP.AnnualReviews.Models.TblAnnualReviewProgramPhaseResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblAnnualReviewProgramPhaseResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualReviewId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnualReviewId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencyResponseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencyResponseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramPhaseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramPhaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
