@model IEnumerable<CP.AnnualReviews.ViewModels.AnnualReviewModel>

@{
    ViewData["Title"] = "Annual Reviews";
}

<h2>@ViewData["Title"]</h2>

<br />

<div class="mb-3">
    <input type="text" class="form-control" id="search" placeholder="Type to filter the table" autofocus>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Manager</th>
            <th>Review Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.Id</td>
                <td>@data.FullName</td>
                <td>@data.CommentsBy</td>
                <td>@data.ReviewDate.Date.ToShortDateString()</td>
                <td>
                    <a asp-controller="AnnualReviews" asp-action="UserReview" asp-route-id="@data.Id">View Review</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    const search = document.querySelector('#search');
    const tbody = document.querySelector('tbody');

    search.addEventListener('keyup', function (e) {
        let target = e.target;
        searchTable(target.value);
    });

    function searchTable(value) {
        let tr, td, filter;
        filter = value.toLowerCase();
        tr = tbody.querySelectorAll('tr');
        for (let i = 0; i < tr.length; i++) {
            let content = tr[i].textContent || tr[i].innerText || tr[i].innerHTML;
            content = content.replace(/[\s]+/g, ' ');
            if (content) {
                if (content.toLowerCase().includes(filter)) {
                    tr[i].classList.remove('hidden');
                }
                else {
                    tr[i].classList.add('hidden');
                }
            }
        }
    }
</script>