@model CP.AnnualReviews.Models.TblAnnualReviewCompetencyResponse

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblAnnualReviewCompetencyResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualReviewId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnualReviewId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencyResponseExperienceCapabilityRatingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencyResponseExperienceCapabilityRatingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencyResponseIndustry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencyResponseIndustry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencyResponseGrowthInterest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencyResponseGrowthInterest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetencyResponseNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetencyResponseNotes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
