@model IEnumerable<CP.AnnualReviews.Models.TblAnnualReviewGeneralQuestionResponse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnnualReviewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralQuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralQuestionResponse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualReviewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralQuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralQuestionResponse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
