@model CP.AnnualReviews.ViewModels.AnnualReviewModel
@{
    ViewData["Title"] = "User Review";
}

<h3>@Model.FullName - Annual Review</h3>
<br />
<section id="generalQuestions">
    <h4>General Questions</h4>
    <hr />
    <dl>
        @foreach (var question in Model.Questions)
        {
            <dt>
                <span>@question.QuestionNumber<em>.</em></span>
                <span>@question.QuestionText</span>
            </dt>
            <dd>@question.Response</dd>
        }
    </dl>
</section>

<section id="competencies">
    <h4>Competencies</h4>
    <hr />
    @foreach (var c in Model.Competencies)
    {
        <dl class="row">
            <dt class="col-sm-5">Competency:</dt>
            <dd class="col-sm-5">@c.CompetencyText</dd>
            <dt class="col-sm-5">Description:</dt>
            <dd class="col-sm-5">@c.CompetencyDescription</dd>
            <dt class="col-sm-5">Experience &amp; Capability Rating:</dt>
            <dd class="col-sm-5">@c.ExperienceAndCapabilityRatingId</dd>
            <dt class="col-sm-5">Program Phases:</dt>
            <dd class="col-sm-5"></dd>
            <dt class="col-sm-5">Tools:</dt>
            <dd class="col-sm-5"></dd>
            <dt class="col-sm-5">Industry:</dt>
            <dd class="col-sm-5">@(!string.IsNullOrEmpty(c.Industries) ? c.Industries : "N/A")</dd>
            <dt class="col-sm-5">Notes:</dt>
            <dd class="col-sm-5">@(!string.IsNullOrEmpty(c.Notes) ? c.Notes : "N/A")</dd>
        </dl>
        <hr />
    }
</section>

<section id="toolsoftheTrade">
    <h4>Tools of the Trade</h4>
    <hr />
    @foreach (var t in Model.ToolsoftheTrade)
    {
        <dl class="row">
            <dt class="col-sm-5">@t.ToolCategoryName</dt>
            <dt class="col-sm-5">Experience &amp; Capability Rating:</dt>
            @for (int i = 0; i < 3; i++)
            {
                <dd class="col-sm-5">@i</dd>
                <dd class="col-sm-5">@t.ToolRating</dd>
            }
        </dl>
        <hr />
    }
</section>

<section id="managementComments">
    <h5>Management Comments</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-5">Manager</dt>
        <dd class="col-sm-5">@(!string.IsNullOrEmpty(Model.CommentsBy) ? Model.CommentsBy : "N/A")</dd>
        <dt class="col-sm-5">Comments date</dt>
        <dd class="col-sm-5">@(Model.CommentsDate.HasValue ? Model.CommentsDate : "N/A")</dd>
        <dt class="col-sm-5">Comments</dt>
        <dd class="col-sm-5">@(!string.IsNullOrEmpty(Model.Comments) ? Model.Comments : "N/A")</dd>
    </dl>
</section>